<!doctype html>
<html lang="en-us">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Sufficient Software - Blog</title>
    <style>{% include "website.css" %}</style>
  </head>
  <body>
    <h1><a class="home" href="/">Sufficient Software</a> Blog</h1>
    <ul style="list-style: none; padding: 0;">
      {% assign posts = collections.post | sort: "date" | reverse %}
      {%- for post in posts -%}
        <li {% if page.url == post.url %} aria-current="page"{% endif %}>
          [{{post.date | date: "%b %d, %y"}}] <a href="{{ post.url }}">{{ post.data.title }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </body>
</html>
